body{
    background-image: url('../img/bg_login.jpg');
}
.ali{
    background-color:black;
    
}
.butt{
    margin: 0 auto;
    width: 50%;
}
.butt h1 {
    color:blanchedalmond;
}
.butt p {
    color:blanchedalmond;
}

.header{
    background-color: brown;
    width: 100%;
    height: 150px;
}



.Form{
    color:white;
}



